@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100..700&display=swap');

$BrightBlue: hsl(220, 98%, 61%);
$CheckBackground: linear-gradient hsl(192, 100%, 67%), hsl(280, 87%, 65%);
$VeryLightGray: hsl(0, 0%, 98%);
$VeryLightGrayishBlue: hsl(236, 33%, 92%);
$LightGrayishBluel: hsl(233, 11%, 84%);
$DarkGrayishBluel: hsl(236, 9%, 61%);
$VeryDarkGrayishBlue: hsl(235, 19%, 35%);


$VeryDarkBlue: hsl(235, 21%, 11%);
$VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
$LightGrayishBlue: hsl(234, 39%, 85%);
$LightGrayishBluehoverx: hsl(236, 33%, 92%);
$DarkGrayishBlue: hsl(234, 11%, 52%);
$VeryDarkGrayishBlueg: hsl(233, 14%, 35%);
$VeryDarkGrayishBluel: hsl(237, 14%, 26%);

$FontSize: 18px;
